<app-hero-menu></app-hero-menu>
<form>
    <input #criteria (input)="updateCriteria(criteria.value)" placeholder="Search Heroes" />
</form>    

<ul class="heroes" [@filterAnimation]="heroTotal">
    <li *ngFor="let hero of heroes" class="hero">
        <div class="inner">
        <span class="badge">{{ hero.id }}</span>
        <span>{{ hero.name }}</span>
        </div>
    </li>
</ul>
<hr>
<div id="search-component">
  <h4><label for="search-box">Hero Search</label></h4>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async" >
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>