   
    <swiper class="swiper-container" [config]="boxKV">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let item of slides">
            <img [src]="item.imageUrl" alt="">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </swiper>


<h5 class="pt-5">swiper tablist</h5>
<div class="afp-tab-box">
    <div class="afp-tab">
        <swiper class="nav-tabs-box swiper-container" [config]="boxTabs">
            <ul id="nav-tab-member" class="swiper-wrapper nav nav-tabs mb-2" role="tablist">
                <li class="swiper-slide" role="presentation" *ngFor="let itemtab of slidestab; let First = first; let i = index">
                    <a id="{{itemtab.linkTitle}}" class="tablist-link" [ngClass]="{'active show': First}" routerLink="{{itemtab.routerLink}}" routerLinkActive="active">{{itemtab.linkTitle}}</a>
                </li>
            </ul>
        </swiper>
    </div>
    <div class="tab-content border-t mb-5">
        <div [@routeAnimationsTab]="prepareRoute1(outlet1)" >
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </div>
</div>