   
    <swiper class="swiper-container" [config]="boxKV">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let item of slides">
            <img [src]="item.imageUrl" alt="">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </swiper>


<h5 class="pt-5">swiper tablist</h5>
<div class="afp-tab-box">
    <div class="afp-tab mb-5">
        <swiper class="nav-tabs-box swiper-container" [config]="boxTabs">
            <ul id="nav-tab-member" class="swiper-wrapper nav nav-tabs mb-2" role="tablist">
                <li class="swiper-slide" role="presentation">
                    <a id="roaming" class="tablist-link active" routerLink="/Roaming" routerLinkActive="active">roaming</a>
                </li>
                <li class="swiper-slide" role="presentation">
                    <a id="notify" class="tablist-link" routerLink="/Notify" routerLinkActive="active">notify</a>
                </li>
                <li class="swiper-slide" role="presentation">
                    <a id="roaming1" class="tablist-link" routerLink="/Roaming" routerLinkActive="active">roaming1</a>
                </li>
            </ul>
        </swiper>
    </div>
</div>
<div [@routeAnimations]="prepareRoute1(outlet)" >
    <router-outlet #outlet1="outlet"></router-outlet>
</div>