<section id="demo" class="demo-section">
    <div class="jumbotron bg-transparent text-center">
        <div *ngIf="!user" class="card text-center">
          <h6 class="card-header">
            Social Login Demo
          </h6>
          <div class="card-block">
            <h4 class="card-title">Not signed in</h4>
            <p class="card-text">Sign in with</p>
          </div>
          <div class="card-block">
            <!-- <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button> -->
            <button class="btn btn-social-icon btn-facebook mx-1" (click)="signInWithFB()"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></button>
            <!-- <button class="btn btn-social-icon btn-amazon mx-1" (click)="signInWithAmazon()"><span class="fa fa-amazon"></span></button> -->
          </div>
        </div>
        <div *ngIf="user" class="card text-center">
          <h6 class="card-header">
            Social Login Demo
          </h6>
          <div class="card-block"></div>
          <img *ngIf="user.photoUrl" class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
          <div class="card-block">
            <h4 class="card-title">{{ user.name }}</h4>
            <p class="card-text">{{ user.email }}</p>
            <p class="card-text">Logged in with {{ user.provider }}</p>
          </div>
          <div class="card-block">
            <button class="btn btn-danger" (click)="signOut()">Sign out</button>
          </div>
        </div>
      </div>
</section>
<h1>Share Button With Round Shape With Text</h1>
<div style=" text-align: center;">
<share-buttons [theme]="'circles-dark'"
 [include]="['facebook','twitter','linkedin','pinterest','reddit','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','copy']"
 [show]="9"
 [size]="1"
 [showText]="true"
 [url]="'https://www.mobii.ai/ProductDetail/210050792144435/220056765040130'" 
 [image] ="'https://images.mobii.ai//Upload/Images/20200720/97f30865-7466-40a7-8eac-66e523fa53f4.jpg'" 
 [autoSetMeta]="false"
></share-buttons>
</div>