agm-map {
  height: 80vh;
}

.explore-swiper{
  position: absolute;
  bottom: 1em;
  width: 100%;
  z-index: 2;
}
.info-box{
  padding: 1em;
}
.swiper-container{
  padding: 0 10px;
}
.swiper-slide{
  background-color: #eee;
  border-radius: 15px;
}
