.butt{
    padding: .25em .5em;
    margin: .25em;
    border: 1px solid #eee;
    border-radius: 5px;
}
img{
    max-width: 50px;
}
a.to-toc { margin: 30px 0; }
div[clickable] {cursor: pointer; max-width: 200px; margin: 16px 0}
#noTrackByCnt, #withTrackByCnt {color: darkred; max-width: 450px; margin: 4px;}
.box {border: 1px solid black; padding: 6px; max-width: 450px;}
.child-div {margin-left: 1em; font-weight: normal}
.context {margin-left: 1em;}
.hidden {display: none}
.parent-div {margin-top: 1em; font-weight: bold}
.special {font-weight:bold; font-size: x-large}
.bad {color: red;}
.saveable {color: limegreen;}
.curly, .modified {font-family: "Brush Script MT"}
.toe {margin-left: 1em; font-style: italic;}
little-hero {color:blue; font-size: smaller; background-color: Turquoise }
.odd {background-color:  palegoldenrod;}

  .unless {
    border: 2px solid;
    padding: 6px;
  }  
  p.unless {
    width: 500px;
  }  
  button.a, span.a, .unless.a {
    color: red;
    border-color: gold;
    background-color: yellow;
    font-size: 100%;
  }  
  button.b, span.b, .unless.b {
    color: black;
    border-color: green;
    background-color: lightgreen;
    font-size: 100%;
  }