<a id="toc"></a>
<h1>Template Syntax</h1>
<div class="d-flex align-content-stretch flex-wrap">
  <a class="butt" href="templeate#interpolation">Interpolation</a><br>
  <a class="butt" href="#expression-context">Expression context</a><br>
  <a class="butt" href="#statement-context">Statement context</a><br>
  <a class="butt" href="#mental-model">Mental Model</a><br>
  <a class="butt" href="#buttons">Buttons</a><br>
  <a class="butt" href="#prop-vs-attrib">Properties vs. Attributes</a><br>
  <br>
  <a class="butt" href="#property-binding">Property Binding</a><br>
  <div class="butt" style="margin-left:8px">
    <a href="#attribute-binding">Attribute Binding</a><br>
    <a href="#class-binding">Class Binding</a><br>
    <a href="#style-binding">Style Binding</a><br>
  </div>
  <a class="butt" href="#event-binding">Event Binding</a><br>
  <a class="butt" href="#two-way">Two-way Binding</a><br>
</div>
<strong>Directives</strong>
<div class="d-flex align-content-stretch flex-wrap" style="margin-left:8px">
  <a class="butt" href="#ngModel">NgModel (two-way) Binding</a><br>
  <a class="butt" href="#ngClass">NgClass Binding</a><br>
  <a class="butt" href="#ngStyle">NgStyle Binding</a><br>
  <a class="butt" href="#ngIf">NgIf</a><br>
  <a class="butt" href="#ngFor">NgFor</a><br>
  <div class="butt" style="margin-left:8px">
    <a href="#ngFor-index">NgFor with index</a><br>
    <a href="#ngFor-trackBy">NgFor with trackBy</a><br>
  </div>
  <a class="butt" href="#ngSwitch">NgSwitch</a><br>
</div>
<div class="d-flex align-content-stretch flex-wrap">
  <a class="butt" href="#ref-vars">Template reference variables</a><br>
  <a class="butt" href="#inputs-and-outputs">Inputs and outputs</a><br>
  <a class="butt" href="#pipes">Pipes</a><br>
  <a class="butt" href="#safe-navigation-operator">Safe navigation operator <i>?.</i></a><br>
  <a class="butt" href="#non-null-assertion-operator">Non-null assertion operator <i>!.</i></a><br>
  <a class="butt" href="#enums">Enums</a><br>
  <a class="butt" href="#svg-templates">SVG Templates</a>
</div>

<!-- Interpolation and expressions -->
<hr class="w-100 border">
<h2 id="interpolation">Interpolation</h2>
<p>My current hero is {{currentHero.name}}</p>
<h6>
  {{title}}
  <img src="{{heroImageUrl}}" style="height:30px">
</h6>
<hr class="w-100 border">