<a id="toc"></a>
<h1>Template Syntax</h1>
<div class="d-flex align-content-stretch flex-wrap">
  <a class="butt" href="templeate#interpolation">Interpolation</a><br>
  <a class="butt" href="templeate#expression-context">Expression context</a><br>
  <a class="butt" href="templeate#statement-context">Statement context</a><br>
  <a class="butt" href="templeate#mental-model">Mental Model</a><br>
  <a class="butt" href="templeate#buttons">Buttons</a><br>
  <a class="butt" href="templeate#prop-vs-attrib">Properties vs. Attributes</a><br>
  <br>
  <a class="butt" href="templeate#property-binding">Property Binding</a><br>
  <div class="butt" style="margin-left:8px">
    <a href="templeate#attribute-binding">Attribute Binding</a><br>
    <a href="templeate#class-binding">Class Binding</a><br>
    <a href="templeate#style-binding">Style Binding</a><br>
  </div>
  <a class="butt" href="templeate#event-binding">Event Binding</a><br>
  <a class="butt" href="templeate#two-way">Two-way Binding</a><br>
</div>
<strong>Directives</strong>
<div class="d-flex align-content-stretch flex-wrap" style="margin-left:8px">
  <a class="butt" href="templeate#ngModel">NgModel (two-way) Binding</a><br>
  <a class="butt" href="templeate#ngClass">NgClass Binding</a><br>
  <a class="butt" href="templeate#ngStyle">NgStyle Binding</a><br>
  <a class="butt" href="templeate#ngIf">NgIf</a><br>
  <a class="butt" href="templeate#ngFor">NgFor</a><br>
  <div class="butt" style="margin-left:8px">
    <a href="templeate#ngFor-index">NgFor with index</a><br>
    <a href="templeate#ngFor-trackBy">NgFor with trackBy</a><br>
  </div>
  <a class="butt" href="templeate#ngSwitch">NgSwitch</a><br>
</div>
<div class="d-flex align-content-stretch flex-wrap">
  <a class="butt" href="templeate#ref-vars">Template reference variables</a><br>
  <a class="butt" href="templeate#inputs-and-outputs">Inputs and outputs</a><br>
  <a class="butt" href="templeate#pipes">Pipes</a><br>
  <a class="butt" href="templeate#safe-navigation-operator">Safe navigation operator <i>?.</i></a><br>
  <a class="butt" href="templeate#non-null-assertion-operator">Non-null assertion operator <i>!.</i></a><br>
  <a class="butt" href="templeate#enums">Enums</a><br>
  <a class="butt" href="templeate#svg-templates">SVG Templates</a>
</div>

<!-- Interpolation and expressions -->
<hr class="w-100 border">
<h2 id="interpolation">Interpolation</h2>
<p>My current hero is {{currentHero.name}}</p>
<h6>
  {{title}}
  <img src="{{heroImageUrl}}" style="height:30px">
</h6>
<hr class="w-100 border">