
<div class="container overflow-auto bg-eee">
  <div class="mainicon-link edit-link" id="iMyService">
    <div *ngFor="let item of moreOg" class="link-item">
        <a href="{{item.Function_URL}}">
            <div class="img-box">
                <img [src]="item.Function_Icon" alt="">
            </div>
            <p>{{item.Function_Name}}</p>
        </a>
    </div>
    <div class="link-more" id="iMyServiceMore">
        <a href="javascript:;">
            <div class="img-box">
                <img src="img/index/icons/category3_more.png" alt="">
            </div>
            <p>更多</p>
        </a>
    </div>
  </div>
</div>
<div class="setting" [ngClass]="{'edit-mode': editFunction}">
  <div class="aside-header">
    <div>
      <button class="btn px-0 close-btn" (click)="backClicked()" data-toggle="tooltip"
        data-placement="bottom" title="回上一頁">
        <i class="material-icons">&#xe314;</i>
      </button>
    </div>
    <div class="edit-title-box">
      <div class="edit-item edit-title-cancel" (click)="editFunction = false">取消</div>
      <div class="edit-item edit-title">編輯我的服務</div>
      <div class="edit-item edit-title-save" (click)="updateUserService()">確定</div>
    </div>
  </div>
  <div class="service-box bt1-solid">
      <div class="title-item pt-3">
          我的服務<span class="pl-2 small text-muted editnote1">長按可以拖動排序</span>
          <div class="editbox">
            <button (click)="editFunctionToggle()" class="btn title-item edit-btn fit small-80 border-radius5 py-0">編輯</button>
          </div>
      </div>
      <div class="service-title">
        <div class="main-link edit-link sort-block" id="myService" [sortablejs]="moreMy" [sortablejsOptions]="options">
          <div class="link-item mysvc remove-item" *ngFor="let icon of moreMy"
          (click)="editFunction ? serviceClick(icon.Function_ID, false) : null;">
            <a [class.disabled]="editFunction ? true : false" [href]="icon.Function_URL" (click)="editFunction ?disabled($event): null;" rel="noopener noreferrer">
              <img [src]="icon.Function_Icon" alt="">
              <p>{{icon.Function_Name}}</p>
            </a>
          </div>
        </div>
      </div>
      <div class="w-100 text-right text-danger small-70 pb-3 editnote h24">
          <ng-container *ngIf="noticeNine">
            至多可選擇9種服務
          </ng-container>
          <ng-container *ngIf="noticeFour">
            請至少選擇4種服務
          </ng-container>
      </div>
  </div>
  <div class="service-box bt1-solid" id="moreServiceList">
    <ng-container *ngFor="let item of groupCategary">
      <div class="title-item pt-3">{{item.name}}</div>
      <div class="main-link edit-link">
        <div *ngFor="let itemChid of item.children" class="link-item"
        (click)="editFunction ? serviceClick(itemChid.object.Function_ID, itemChid.isAdd) : null;"
        [ngClass]="{'remove-item': itemChid.isAdd && itemChid.object.Function_IsActive, 'add-item':!itemChid.isAdd && itemChid.object.Function_IsActive,'disable' : itemChid.object.Function_IsActive === 0}">
          <a [class.disabled]="editFunction ? true : false" [href]="itemChid.object.Function_URL" (click)="editFunction ?disabled($event): null;" rel="noopener noreferrer">
              <div class="img-box">
                  <img [src]="itemChid.object.Function_Icon" alt="">
              </div>
              <p>{{itemChid.object.Function_Name}}</p>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
