<h5>共用元件</h5>
<div class="row p-3">
    <div class="col-6 p-2">
        <button class="btn index-btn">mobii</button>
        <button class="btn index-outline-btn">mobii</button>
    <div class="col-6 p-2">
    </div>
        <button class="btn bluedk-btn">mobii</button>
        <button class="btn bluedk-outline-btn">mobii</button>
    </div>
    <div class="col-6 p-2">
        <button class="btn index-btn unable">mobii</button>
        <button class="btn index-outline-btn unable">mobii</button>
        <div class="col-6 p-2">
        </div>
        <button class="btn bluedk-btn unable">mobii</button>
        <button class="btn bluedk-outline-btn unable">mobii</button>
    </div>
    <div class="col-6 p-2">
        <ul>
            <li>
                <input id="c1" type="checkbox">
                <label for="c1">Checkbox</label>
            </li>
            <li>
                <input id="c2" type="checkbox" checked>
                <label for="c2">Checkbox</label>
            </li>
            <li>
                <input id="r1" type="radio" name="radio" value="1">
                <label for="r1">Radio</label>
            </li>
            <li>
                <input id="r2" type="radio" name="radio" value="2" checked>
                <label for="r2">Radio</label>
            </li>
            <li>
                <input id="w1" type="checkbox" class="switch">
                <label for="w1">Switch</label>
            </li>
            <li>
                <input id="w2" type="checkbox" class="switch" checked>
                <label for="w2">Switch</label>
            </li>
        </ul>
    </div>
    <div class="col-6 p-2">
        <ul>
            <li>
                <input id="c1d" type="checkbox" disabled>
                <label for="c1d">Checkbox</label>
            </li>
            <li>
                <input id="c2d" type="checkbox" checked disabled>
                <label for="c2d">Checkbox</label>
            </li>
            <li>
                <input id="r1d" type="radio" name="radiod" value="1" disabled>
                <label for="r1d">Radio</label>
            </li>
            <li>
                <input id="r2d" type="radio" name="radiod" value="2" checked disabled>
                <label for="r2d">Radio</label>
            </li>
            <li>
                <input id="w1d" type="checkbox" class="switch" disabled>
                <label for="w1d">Switch</label>
            </li>
            <li>
                <input id="w2d" type="checkbox" class="switch" checked disabled>
                <label for="w2d">Switch</label>
            </li>
        </ul>
    </div>
</div>

