<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <p class="text-center">Get started with your free account</p>
        <p>
            <a href="" class="btn btn-block btn-twitter btn-success"><fa-icon [icon]="['fab', 'twitter']"></fa-icon>   Login via Twitter</a>
            <a href="" class="btn btn-block btn-facebook btn-info"><fa-icon [icon]="['fab', 'facebook']"></fa-icon>   Login via facebook</a>
        </p>
        <p class="divider-text">
            <span class="bg-light">OR</span>
        </p>
        <form class="needs-validation" novalidate>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <fa-icon [icon]="['fas', 'user']"></fa-icon> </span>
                </div>
                <input name="" class="form-control" placeholder="Full name" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <fa-icon [icon]="['fas', 'envelope']"></fa-icon> </span>
                </div>
                <input name="" class="form-control" placeholder="Email address" type="email">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <fa-icon [icon]="['fas', 'phone']"></fa-icon> </span>
                </div>
                <select class="custom-select" style="max-width: 120px;">
                    <option selected="">+971</option>
                    <option value="1">+972</option>
                    <option value="2">+198</option>
                    <option value="3">+701</option>
                </select>
                <input name="" class="form-control" placeholder="Phone number" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <fa-icon [icon]="['fas', 'building']"></fa-icon> </span>
                </div>
                <select class="form-control">
                    <option selected=""> Select job type</option>
                    <option>Designer</option>
                    <option>Manager</option>
                    <option>Accaunting</option>
                </select>
            </div> <!-- form-group end.// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> 
                        <fa-icon
                            [icon]="farEyeSlashDefault"
                            (click)="onClickBtn($event)"
                        ></fa-icon>
                    </span>
                </div>
                <input class="form-control" placeholder="Create password" type="password" id="psw1">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <fa-icon [icon]="['fas', 'lock']"></fa-icon> </span>
                </div>
                <input class="form-control" placeholder="Repeat password" type="password" required 
                    placement="top" ngbPopover="Enter Password..." popoverTitle="Password Strength">
            </div> <!-- form-group// -->                                      
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
            </div> <!-- form-group// -->      
            <p class="text-center">Have an account? <a href="">Log In</a> </p>                                                                 
        </form>
    </article>
</div> <!-- card.// -->

<div style="margin: 50px">
    <h3>Test International Telephone Input Form</h3>
    <br>
    <div class="mb-2">
      <button (click)="changePreferredCountries()">Change Preferred Countries</button>
    </div>
    <div class="mb-2">
      <input type="checkbox" [(ngModel)]="separateDialCode" class="form-control">
      <label>&nbsp;Separate Dial Code?</label>
    </div>
    <form #f="ngForm" [formGroup]="phoneForm">
      <div class="mb-2">
        <ngx-intl-tel-input 
          [inputId]="'adsasd'"
          [cssClass]="'form-control'" 
          [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="false" 
          [enablePlaceholder]="true" 
          [searchCountryFlag]="true"
          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
          [selectFirstCountry]="false" 
          [selectedCountryISO]="CountryISO.India"
          [maxLength]="15" 
          [tooltipField]="TooltipLabel.Name" 
          [phoneValidation]="true" 
          [separateDialCode]="separateDialCode"
          name="phone" formControlName="phone">
        </ngx-intl-tel-input>
      </div>
      <div class="mb-2">
        <button (click)="f.reset()">Reset</button>
      </div>
    </form>
    <br>
    <div><strong>Is input valid:</strong> <pre>{{ !f.form.controls['phone'].invalid }}</pre></div>
    <div><strong>Is input touched:</strong> <pre>{{ f.form.controls['phone'].touched }}</pre></div>
    <div><strong>Is form valid:</strong> <pre>{{ f.form.valid }}</pre></div>
    <div><strong>Form value:</strong> <pre>{{ f.form.value | json }}</pre></div>
    <div><strong>Form validation errors:</strong> <pre>{{ f.form.controls['phone'].errors | json }}</pre></div>
  </div>